use.gray-color
    fill #b1b1b1

use.black-color
    fill #666

.icon > svg
    vertical-align middle

.icon
    line-height 1

    // &_padded
    // margin-right 10px
    &_attached
        position absolute
        top 8px
        right 8px

    &_btn
        display block
        background-color transparent
        border none